.button-i2601277651-RQP1VA {
  color: #ffffff;
  font-family: 'Overpass', Helvetica;
  font-size: 14px;
  font-weight: 600;
  height: 24px;
  left: 32px;
  letter-spacing: 0;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 8px;
  white-space: nowrap;
}
.master-button-Bjvkei {
  background-color: #cd424a;
  border-radius: 8px;
  height: 40px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}
.x26012776 {
  height: 40px;
  left: 634px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 2072px;
  width: 172px;
}
